
.back{
    background-color: #1d3c45;
    color: white;
}



.profilephoto {
    width: 170px;
    height: 170px;
    position: absolute;
    padding-left: 50px;
    padding-top: 50px;
  }

.profilephoto img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio and fit within the relative height */
}


hr{
    border: 0.5px solid white;
    opacity: .2;
}

.hr2{
    border: 0.5px solid black;
    opacity: .2;
}


.hellobutton{
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: Roboto, Arial, helvetica, sans-serif;
}


.logo{
    height: 30px;
    opacity: 1;
    align-self: center;
}

.p-bar {
    width: 185px;
    height: 185px;
    border-radius: 50%;

}

.navbar-container {
	background-color: #1d3c45;
	font-size: 0;
}

.navbar-container ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.navbar-container ul li a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;	
	padding: 0px;
	transition: color 0.5s;
}

.navbar-container ul li .underline {
	height: 1px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: #F4A622;
}

.navbar-container ul li:hover .underline {
    padding-left: 0;
	background-color: white;
	width: 100%;
}


.navbar-container ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.navbar-container ul li a:hover {
	color:  #F4A622;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-width: 100%;
}

.project-area {
    position: relative;
    z-index: 1;
    background-color: white;
}

.project-area:nth-child(2n){
    background-color: #1d3c45;
    color: white;
}

.project-area a {
    color: #F4A622;
} 





/* carousel table----------------------------------------------------------------------------------------------------------------------------------*/


.carousel-item {
    height: 0;
    padding-top: 75%; /* 4:3 aspect ratio (75% = 3/4) */
    position: relative;
  }

  .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio and fit within the relative height */
  }


  .carousel-control-prev-icon, .carousel-control-next-icon {
    color: #F4A622;
    filter: invert(100%); /* Invert the arrow color to black */
  }



/*sidebar--------------------------------------------------------------------------------------------------------------------------------------------------*/

.searchform{
    background-color:color-mix(in srgb, #1d3c45 50%, white);
    color: black;
}


.sidebarbtn{
    width: 100%;
    color: black; 
    font-weight: bold;
    background-color: #F4A622;
    opacity: 0.5;
    

}

.searchwindow{
    display: flex;
    flex-direction: row;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.custom-button {
    display: flex;
    justify-content: space-between;

}



